.animation-txt-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--white);
  border-bottom: solid 3px var(--black);
}

.animation-desktop {
  border-top: solid 3px var(--black);
}

.animation-style-txt {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin: 4px 20px;
  animation: scrollTxt1 12s linear infinite;
}

@keyframes scrollTxt1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@media (min-width: 992px) {
  .animation-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .animation-desktop {
    display: none;
  }
}
