#position-backdrop {
  #father {
    z-index: -1;
    position: relative;
  }

  #son {
    z-index: 1;
    position: absolute;
    bottom: 20px;
  }
  .test-container {
    display: flex;
    justify-content: center;
  }
}

.backdrop {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.backdrop-desktop .backdrop-bottles {
  width: 500px;
  border-left: 3px solid var(--black);
  border-right: 3px solid var(--black);
}

.backdrop-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid var(--black);
  background: linear-gradient(
    90deg,
    rgba(196, 255, 161, 1) 50%,
    rgba(254, 147, 194, 1) 51%
  );
}

.backdrop-slanted {
  width: 300px;
  padding: 0px 30px;
}

@media (min-width: 992px) {
  .backdrop {
    display: none;
  }
}

@media (max-width: 992px) {
  .backdrop-desktop {
    display: none;
  }
}
