#position-backdrop {
  #father {
    z-index: -1;
    position: relative;
  }

  #son {
    z-index: 1;
    position: absolute;
    bottom: 20px;
  }
  .test-container {
    display: flex;
    justify-content: center;
  }
}
