#position-backdrop {
  #father {
    z-index: -1;
    position: relative;
  }

  #son {
    z-index: 1;
    position: absolute;
    bottom: 20px;
  }
  .test-container {
    display: flex;
    justify-content: center;
  }
}

.backdrop {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

@media (min-width: 992px) {
  .backdrop-logo {
    display: none;
  }
}
