.button {
  width: fit-content;
  font-family: hobeaux;
  font-weight: 900;
  font-size: 29px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: -0.5px;
  background: var(--black);
  padding: 10px 30px 7px 30px;
  border-radius: 43.5px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button-revert {
  color: var(--black);
  background-color: var(--white);
  margin-top: 40px;
}

.button-about {
  width: 250px;
}

@media (max-width: 992px) {
  .button-recipes-desktop {
    display: none;
  }
}
