.hover-zoom {
  transition: transform 0.2s;
}

.hover-zoom:hover {
  transform: scale(1.15);
}

.hover-zoom-small {
  transition: transform 0.2s;
}

.hover-zoom-small:hover {
  transform: scale(1.05);
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-button-dark {
  transition: transform 0.6s;
}
.hover-button-dark:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.hover-svg {
  transition: 0.5s;
}

.hover-svg:hover {
  filter: opacity(0%);
}

.hover-button-map {
  transition: transform 0.2s;
}

.hover-button-map:hover {
  transform: scale(1.15);
  rotate: -3deg;
}

.test2 {
  #father {
    position: relative;
  }

  #son {
    position: relative;
    top: -40px;
    filter: opacity(0%);
  }
}
