.menu-overhall {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: solid 3px var(--black);
}

.menu-close.is-active {
  .menu-line-01 {
    transform: rotate(45deg) translateY(-11px);
  }

  .menu-line-02 {
    opacity: 0;
  }

  .menu-line-03 {
    transform: rotate(-45deg) translateY(12px);
  }
}

.menu-line {
  top: 49px;
  left: 15px;
  position: fixed;
  width: 27px;
  height: 3px;
  background-color: var(--black);
  margin-top: 1em;
  transition: all 0.4s;
}

.menu-line-02 {
  top: 41px;
}

.menu-line-03 {
  top: 33px;
}

.menu-open {
  display: none;
  z-index: 10;
  opacity: 0;
}

.menu-open.is-open {
  width: 100%;
  opacity: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 10px 0px;
  margin-left: 50px;
}

.menu-language-container {
  position: absolute;
  display: flex;
  align-items: center;

  right: 20px;
  top: 50px;
}

.menu-language-container div {
  margin-right: 4px;
  font-size: 25px;
  letter-spacing: -0.43px;
  font-weight: 600;
  font-style: normal;
}

.menu-open {
  padding-top: 100px;
  margin-left: 21px;
  font-weight: 700;
  font-size: 25px;
  color: var(--black);
  letter-spacing: -0.43px;
}

.menu-open .spacer {
  width: 90%;
  margin: 10px 0px;
  height: 3px;
  background-color: black;
}

.menu-small-logo {
  width: 80px;
}
