.menu-close.is-active {
  .menu-line-01 {
    transform: rotate(45deg) translateY(-10px);
  }

  .menu-line-02 {
    opacity: 0;
  }

  .menu-line-03 {
    transform: rotate(-45deg) translateY(10px);
  }
}

.menu-line {
  top: 49px;
  left: 15px;
  position: fixed;
  width: 27px;
  height: 3px;
  background-color: var(--black);
  margin-top: 1em;
  transition: all 0.4s;
}

.menu-line-02 {
  top: 41px;
}

.menu-line-03 {
  top: 33px;
}

.menu-open {
  display: none;
  z-index: 10;
  opacity: 0;
}

.menu-open.is-open {
  width: 100%;
  opacity: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 10px 0px;
  margin-left: 50px;
}

.menu-language-container {
  display: flex;
}

.menu-open {
  margin-top: 50px;
}

.menu-small-logo {
  width: 80px;
}
