.menu-overhall {
  background-color: var(--white);

  width: 100%;
  z-index: 1;
}

.menu-mobile {
  position: fixed;
  border-bottom: solid 3px var(--black);
  z-index: 2;
}

.menu-close.is-active {
  .menu-line-01 {
    transform: rotate(45deg) translateY(-11px);
  }

  .menu-line-02 {
    opacity: 0;
  }

  .menu-line-03 {
    transform: rotate(-45deg) translateY(12px);
  }
}

.menu-line {
  top: 49px;
  left: 15px;
  position: fixed;
  width: 27px;
  height: 3px;
  background-color: var(--black);
  margin-top: 1em;
  transition: all 0.4s;
}

.menu-line-02 {
  top: 41px;
}

.menu-line-03 {
  top: 33px;
}

.menu-open {
  display: none;
  z-index: 10;
  opacity: 0;
}

.menu-open.is-open {
  width: 100%;
  opacity: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 10px 0px;
  margin-left: 50px;
}

.menu-language-container {
  position: absolute;
  display: flex;
  align-items: center;

  right: 20px;
  top: 50px;
}

.menu-language-container div {
  margin-right: 0px;
  // attention ^
  font-size: 25px;
  letter-spacing: -0.43px;
  font-weight: 600;
  font-style: normal;
}

.menu-open {
  padding-top: 100px;
  margin-left: 21px;
  font-weight: 700;
  font-size: 25px;
  color: var(--black);
  letter-spacing: -0.43px;
}

.menu-open .spacer {
  width: 90%;
  margin: 10px 0px;
  height: 3px;
  background-color: black;
}

.menu-small-logo {
  width: 80px;
  position: relative;
}

.menu-small-logo.is-open {
  width: 80%;
}

.menu-container.is-open {
  justify-content: center;
  margin: 0;
}

.menu-desktop {
  text-align: center;
}

.menu-logo {
  width: 300px;
  margin: 40px 0px 25px 0px;
}

.menu-nav-desktop-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: solid 3px var(--black);
}

.menu-nav-desktop-container a {
  margin: 13px 5px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.43px;
  line-height: 0px;
}

.menu-lang-flex {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 0px;
}

.menu-lang-underline {
  margin: 0;
  width: 50px;
  height: 3px;
  background-color: black;
}

.menu-language-container a {
  text-transform: uppercase;
  margin: 13px 0px;

  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.43px;
  line-height: 0px;
}

.menu-desktop .menu-language-container {
  right: 20px;
  top: 90px;
}

.menu-lang-open {
  display: none;
}

.menu-credits-informations {
  display: none;
}

.menu-credits-informations.is-open {
  display: block;
}

.menu-credits-informations .spacer {
  height: 15px;
  width: 1px;
  background-color: black;
  margin-top: 5px;
}

.menu-credits-informations-container {
  display: flex;
  margin: 0px 0px;
  justify-content: center;
  margin-bottom: 10px;
}

.menu-credits-informations-container a {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 15px;

  letter-spacing: -0.26px;
}

@media (min-width: 992px) {
  .menu-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu-desktop {
    display: none;
  }
}
