.section {
  border-bottom: 3px solid var(--black);
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-darkgreen {
  background-color: var(--darkgreen);
}

.section-lightgreen {
  background-color: var(--lemongreen);
  border-top: 3px solid var(--black);
  border-bottom: solid 3px var(--black);
}

.section-spacer {
  border-right: 3px solid var(--black);
}

.section-frame {
  padding: 60px 14px;
  max-width: 600px;
}

.section-philosophy-text h2 {
  font-size: 19px;
  letter-spacing: -0.33px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-philosophy-text p {
  font-size: 19px;

  letter-spacing: -0.33px;

  line-height: 21px;
}

.section-philosophy-text {
  padding: 30px;
  text-align: center;
}

.section-big {
  padding-left: 23px;
}

.section-arrow-down {
  text-align: center;
  background-color: var(--darkgreen);
  padding-bottom: 40px;
  border-bottom: 3px solid var(--black);
}

.section-arrow-down img {
  width: 20%;
  max-width: 70px;
  margin: 0px 10px;
}

.section-about-text {
  text-align: center;
  border-bottom: 3px solid black;
}

.section-about-text h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 19px;
  color: #000000;
  letter-spacing: -0.33px;
  line-height: 21px;
  margin: 70px 0px 20px 0px;
}
.section-about-text h1 {
  margin: 0px 0px 20px 0px;
}

.section-map-margin {
  margin: 0px 0px 20px 0px;
}

.section-logo-container img {
  width: 300px;
  border-bottom: 3px solid black;
  padding: 20px 0px;
}

.section-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .section-big {
    font-size: 80px;
    color: #000000;
    letter-spacing: -1.98px;
    line-height: 70px;
    max-width: 600px;
    word-break: break-word;
    padding: 70px 0px 0px 40px;
  }
  .section-frame {
    padding: 0;
    max-width: 100%;
  }
  .section-arrow-down {
    display: none;
  }
  .section-about-text {
    text-align: center;
    border-bottom: 0px solid black;
  }
  .section-about-underline {
    border-bottom: 3px solid black;
  }
  .section-title-desktop {
    font-size: 115px;

    letter-spacing: -1.98px;
    line-height: 99px;
  }
}

@media (max-width: 992px) {
  .section-desktop {
    display: none;
  }
  .section-spacer {
    border-right: 0px;
  }
  .section-philosophy-text {
    text-align: left;
  }
}
