/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000000;
  --white: #ffffff;
  --lemongreen: #c4ffa1;
  --darkgreen: #92bba4;
  --pink: #ff91c3;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: degular, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: var(--black);
  letter-spacing: -0.31px;
  line-height: 22px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
